.all-chart {
  padding: 25px 0;
  border-radius: 9px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 6%), 0 6px 20px 0 rgb(0 0 0 / 10%);
}
.StatusChart {
  display: inline-block;
  margin: 0 24px;
}
