.main-table {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.full-table {
  border-spacing: 1;
  border-collapse: collapse;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.full-table * {
  position: relative;
}

/* all the column style */

.column1 {
  padding-left: 40px;
}
