.contant-table {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: gray;
  line-height: 1.2;
  font-weight: unset;
  height: 55px;
}
tr:nth-child(even) {
  background-color: #f5f5f5;
}
.table-content {
  padding-left: 0;
}
.column1 {
  padding-left: 40px;
}
.buttons {
  margin: 5px;
}
