.folder {
  padding: 15px 10px;
  border-radius: 10px;
  display: inline-block;
}
.folder-input {
  width: 70%;
  background: #04aa6d;
  color: #fff;
  display: inline-block;
}
.input-title {
  font-weight: 600;
  width: 20%;
}
.publish-buttons {
  margin: 10px;
}
.publish-card {
  margin-bottom: 50px;
}
