.button {
  color: #ffffff;

  font-size: 17px;
  padding: 9px;
  border: none;
  border-radius: 5px;
}
.primary {
  border-color: #04aa6d;
  background-color: #04aa6d;
}
.danger {
  border-color: #dc3545;
  background-color: #dc3545;
}
.warning {
  color: #000;
  border-color: #ffcd39;
  background-color: #ffc720;
}
