.card {
  border-radius: 19px;
  background-color: #ffffff;
  padding: 10px 30px 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
