.status {
  margin: 5px;
  font-weight: 600;
  color: #ffffff;
  font-family: sans-serif;
  display: inline-block;
  text-align: center;
  padding: 0px 60px 0px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.count {
  margin: 0;
  font-size: 38px;
  margin-top: 12px;
}
.line {
  width: 50px;
  border: 1px solid white;
}
