.single-movie {
  margin-bottom: 129px;
  width: auto;
}

.poster-session {
  height: auto;
  width: auto;
  display: block;
  float: left;
}
.movie-poster {
  width: 250px;
  border-radius: 15px;
}
.data-session {
  margin: 10px 0 0 50px;
  display: inline-block;
  height: auto;
  width: 60%;
}
.imdb,
.results-a {
  color: #383e56;
  text-decoration: none;
  font-weight: 600;
}
.movie_publish-link {
  font-weight: 500;
}
